# Kbuild output
*.ko
*.mod
*.mod.c
*.o
.*.cmd
.tmp_versions/
Module.symvers
modules.order
tools/castkms-grant-test
tools/castkms-capture-test
tools/castkms-cec-test
tools/castkms-edid-test
tools/castkms-audio-test
tools/pw-castkms/pw-castkms
tools/pw-castkms/pw-castkms-test
tools/pw-castkms/pw-castkms-view
/test-results/
