# SPDX-License-Identifier: GPL-2.0-only
# Input to allnoconfig, not a fragment merged into a distribution kernel.
# Builds CastKMS and drm_kms_helper as modules without other display drivers.
CONFIG_64BIT=y
CONFIG_EXPERT=y
CONFIG_MODULES=y
CONFIG_MODULE_UNLOAD=y
CONFIG_RUST=y
CONFIG_DRM=y
CONFIG_DRM_CASTKMS=m
CONFIG_DRM_KMS_HELPER=m
CONFIG_PRINTK=y
CONFIG_SYSFS=y
CONFIG_SHMEM=y
CONFIG_TMPFS=y
CONFIG_MULTIUSER=y
